#travel {
  width: 1900px;
  height:800px;
}

.jumbotron {
  background-image: url(../images/pexels-pixabay-38238.jpg);
  background-size: cover;
  align-items: center;
  height: calc(100vh - 25px);
  display: flex;
  justify-content: center;
  margin: 50px;
}

#searchBox {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  color: black;
  background-color: white;
  font-family: calibri;
  font-size: 26px;
}

#searchItems {
  text-align: center;
}

#surroundBox{
  background-color: rgba(255, 255, 255, 0.507);
  color: white;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#searchBtn{
  background-color: white;
  color: black;
  border: solid;
}

div.jumbotron h1{
color: black;
}

h1 {
font-family: calibri;
}